.psi-editor-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .editor-label{
    font-weight: bold;
    font-family: 'Pacifico', Arial;
  }
  .editor-name{
    width: 200px;
    margin-inline-end: 10px;
  }
}
