.psi-cell-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .edit-mode-text-editor-container {
    border: 1px solid grey;
  }

  .view-mode-text-area {
    padding: 3px;
    margin-bottom: 5px;
    border: 1px solid #d9d9d980;
    white-space: pre-line;
    &:hover {
      border: 1px solid #d9d9d9;
      .cell-state-actions {
        opacity: 1;
        transition: opacity 0.5s;
        .cta-icon {
          cursor: pointer;
          fill: #7e7e7e;
          gap: 5px;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }

  &:hover {
    .cell-actions {
      opacity: 1;
      transition: opacity 0.5s;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .cta-icon {
        cursor: pointer;
        fill: #0072ea;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }

  .cell-state-actions,
  .cell-actions {
    opacity: 0;
  }
}
