.psi-cell-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .edit-mode-text-editor-container {
    border: 1px solid grey;
  }

  &:hover {
    .cell-actions {
      opacity: 1;
      transition: opacity 0.5s;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      .cta-icon {
        cursor: pointer;
        fill: #0072ea;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
}
