.psi-actions-wrapper {
  padding: 5px 15px;
  align-self: start;
  .psi-actions-button {
    border-radius: 30px;
  }
}


.psi-actions-drop-down-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
